* {
  margin: 0;
  padding: 0;
}

.loading-screen {
  width: 100%;
  height: 100vh;
  background-color: #535252;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  to{
    transform: rotate(360deg);
  }
}

.loading span{
  width: 32px;
  height: 32px;
  background-color: red;
  margin: 4px;
  animation: scale 1.5s linear infinite;
}

@keyframes scale{
  50%{
    transform: scale(1.2);
  }
}

.loading span:nth-child(1){
  border-radius: 50% 50% 0 50%;
  background-color: #D69465;
  transform-origin: bottom right;
}

.loading span:nth-child(2){
  border-radius: 50% 50% 50% 0;
  background-color: #5E94EE;
  transform-origin: bottom left;
  animation-delay: 0.5s;
}

.loading span:nth-child(3){
  border-radius: 50% 0 50% 50%;
  background-color: #E75757;
  transform-origin: top right;
  animation-delay: 1.5s;
}

.loading span:nth-child(4){
  border-radius: 0 50% 50% 50%;
  background-color: #F6F45C;
  transform-origin: top left;
  animation-delay: 1s;
}
