body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #4c3c99;
}
.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="text"], .box input[type="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #259CDA;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 20px; <--!làm cong khung>
  transition: 0.25s;
}
.box input[type="text"]:focus, .box input[type="password"]:focus{
  /*focus : khi trỏ chuột vàoi*/
  width: 260px;/*phóng to khung input mỗi khi troe chuột tới*/
  border-color: #59DB77;
}
.box input[type="submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #59DB77;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 20px; <--!làm cong khung>
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover{
  background-color: #59DB77;
}
